$font-family: "Montserrat";
$primary: rgb(255, 165, 0);
$on-primary: #000;

$navbar-height: 5em;
$navbar-width: 100%;
$navbar-spacing: 10%;
$navbar-brand-size: 22px;
$navbar-item-size: 22px;
$navbar-item-space: 32px;
$footer-height: 80px;
