.card-container {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  .card {
    @extend .mb-2;
  }
}
@include for-size(tablet-landscape-up) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.card {
  display: block;
  outline: none;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12),
    0px 8px 10px rgba(0, 0, 0, 0.14);
  padding: 25px;
  border-radius: 8px;
  border-top: 4px solid #000;
  .card-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .card-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
  }
  .card-title {
    margin: 0;
  }
  .card-image + .card-title {
    margin-left: 0.3em;
  }
  .card-body {
    line-height: 1.5em;
  }
  .card-actions {
    & .button {
      width: 100%;
      &.lama-outlined {
        @extend .mt-1;
      }
    }
  }
}
.card.restyled {
  background: rgba(lighten($primary, 30), 0.2);
}
