.cta {
  @extend .mt-4;
  @extend .mb-4;
  .cta-actions {
    @extend .mt-1;
  }
  .cta-multiple-button {
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

@include for-size(tablet-landscape-up) {
  .cta-title {
    margin-bottom: 0.5em;
  }
}
