.navbar {
  height: $navbar-height;
  background: $primary;
  color: $on-primary;
  width: 100%;
  display: flex;
  align-items: center;
  .navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .toggle {
    padding-right: $navbar-spacing;
    cursor: pointer;
  }
  .brand {
    padding-left: $navbar-spacing;
  }
  .brand,
  .toggle {
    font-weight: bold;
    font-size: $navbar-brand-size;
  }
  .navbar-items {
    display: none;
    list-style-type: none;
  }
  &.active {
    flex-direction: column;
    height: $navbar-height + 3 * 4em;
    .navbar-container {
      // Prevent flex default comportement
      min-height: $navbar-height;
      flex-direction: row;
    }
    .navbar-items {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      width: 100%;
      background: $primary;
      // Shadow tricks to have a bottom only shadow
      li {
        @extend .mt-2;
        padding-left: $navbar-spacing;
      }
      li:last-of-type {
        @extend .mb-2;
      }
    }
  }
}
// @import './../tools/dev';

@include for-size(tablet-landscape-up) {
  .navbar {
    .navbar-container {
      margin-left: $navbar-spacing;
      justify-content: flex-start;
      .brand {
        padding-left: 0;
      }
    }

    .navbar-items {
      display: flex;
      font-weight: bold;
      width: 80%;
      justify-content: space-between;
      font-size: $navbar-item-size;
      margin-right: $navbar-spacing;
    }
    .toggle {
      display: none;
    }
  }
}
