.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 5em;
}

.navbarOnDesktop {
  display: none;
}

@include for-size(tablet-landscape-up) {
  .navbarOnDesktop {
    display: block;
  }
  .navbarOnMobile {
    display: none;
  }
  .container {
    margin-top: 7em;
  }
}
